/* sketcher2.css */
h1 {
	font-family: sans-serif;
	font-size: medium;
}
canvas {
	border:1px solid grey;
}
p.label {
	line-height: 100%;
	/*border: 1px solid gray;*/
	margin: 0px;
	padding: 1px;
	font-family: sans-serif;
	font-size: small;
}
span.label {
	line-height: 100%;
	/*border: 1px solid gray;*/
	margin: 0px;
	padding: 1px;
	font-family: sans-serif;
	font-size: small;
}
div { 
	/*border:1px solid black;*/
}
div.page {
	width:100%;
/*	position: relative;
	height:100%; */
	background-color:#ffffff;
}
/* TABS */
div.tabs {
	width:100%;
	border-bottom: 1px solid black;
}
div.tab {
	border: 1px solid gray;
	float: left;
}
div.tabhighlight {
	background-color:#cccccc;
}
div.tabselected {
	/*font-weight: bold;*/
	background-color:#808080;
	border: 1px solid black;
}
/* OBJECTS LIST */
div.objects {
	width:100%;
}
div.indexHeader {
	width:100%;
}
div.headerItem {
	float:left;
}
input.button {	
}
input.filterText {
}
canvas.indexCanvas {
	height: 400px;
	width: 100%;
}
/* EDITOR */
div.editor {
	width:100%;
/*	clear:both; */
/*	position: relative; */
}
div.editorLeft {
	width:20%;
	float: left;
	/*position:absolute;
	left:0%;
	top:0%;*/
	/*background-color:#f0f;*/
}
div.editorOverview {
	background-color:#00f;
}
canvas.overviewCanvas {
 /* sizing doesn't work with paper js here :-( A hack to use resize callback set paperjs size on resize */
 /*	width: inherit; */
	height: 198px;  
	width: 99%;
	/*border:none;*/
}
div.editorText {
	/*background-color:#0ff;*/
}
canvas.textCanvas {
	height: 250px;
	width: 99%;
}
div.editorDetail {
	float: left;
	/*position:absolute;
	left:25%;
	top:0%;*/
	/*background-color:#0f0;*/
	width:79%; 
	/*height:600px;*/
}
canvas.detailCanvas {
	height:400px;
	width: 99%;
}
div.commonFacilities {
	clear:both;
	position:relative;
	/*height: 20%;*/
}
div.orphanText {
	/*background-color:#f00;*/
	width:20%;
	float:left;
	/*height: 10%;*/
	/*position:absolute;
	left:0%;
	top:0%;*/
}
div.selectionHistory {
	/*background-color:#ff0;*/
	width:80%; /* could be 50% if no border */
	/*position:absolute;
	left:50%;
	top:0%;*/
	float:left;
}
canvas.selectionCanvas {
	height: 100px;
	width: 100%;
}
div.footer {
	clear:both;
}
div.sequencesColumn {
	float: left;
	width:33%; 
	/*height:600px;*/
}
canvas.sequencesCanvas {
	height:400px;
	width: 99%;
}
div.sequencesDiv {
	height:400px;
	width: 99%;
	border:1px solid grey;
	overflow: scroll;
}
canvas.sequencesViewCanvas {
	height:400px;
	width: 99%;
}
div.actions {
	/* next to orphan text */
	width:80%; 
	float:left;
}
div.action {
	border: 1px solid gray;
	float: left;
	background-color:#eeeeee;
	margin: 1px;
	cursor: default;
}
p.actionLabel {
	float: left;
	margin: 1px;
}
div.actionHighlight {
	border: 1px solid gray;
	background-color:#cccccc;
}
div.actionSelected {
	border: 1px solid black;
	background-color:#808080;
}
div.actionDisabled {
	background-color:#ffffff;
	color: gray;
}
div.properties {
	/* under orphan text, next to selection history */
	width: 20%;
	float: left;
	height: 100px;
}
table.propertiesTable {
	/*border: 1px solid gray;*/
	width:100%;
}
tr.propertyDisabled td {
	opacity: 0.5;
	/*color: gray;*/
}
table.sketchPropertiesTable {
	/*border: 1px solid gray;*/
	width:100%;
}
td.colors {
}
div.color {
	border: 3px solid white;
	width: 1em;
	height: 1em;	
	float: left;
	cursor: default;
}
div.alpha {
	border: 3px solid white;
	width: 1em;
	height: 1em;	
	float: left;
	cursor: default;
}
div.colorHighlight {
	border: 3px solid gray;
}
div.alphaHighlight {
	border: 3px solid gray;
}
div.colorSelected {
	border: 3px solid black;
}
div.alphaSelected {
	border: 3px solid black;
}
div.sequenceObject {
	font-size: large;
	color: #404040;
	/*border: 1px solid gray;*/	
}
div.sequenceFrame {
	/*border: 1px solid gray;*/	
	margin-left: 1em;
}
div.sequenceFrameSelected {
	background-color: #c0c0c0;
	/*border: 1px solid gray;*/	
}
